.user-input {
    height: 5;
    max-height: 10;
    margin: 0 2;
    border: round $primary;
    background: transparent;
}

.user-input > .text-area--cursor-line {
    background: transparent;
}

.user-input:focus {
    border: round $primary;
    background: transparent;
}
